*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION BAR */
.logo-menu{
    position: fixed;
    background-image: url('assets/Section\ 1.png');
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 11vh;
    display: flex;
    gap: 5vw;
}

.logo {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 70%;
    height: 9vh;
}

.menu{
    align-items: center;
    display: flex;
    width: 100%;
    gap: 5vw;
}

.menu-button a{
    text-decoration: none;
    color: white;
    opacity: .5;
    transition: all 200ms;
    width: auto;
}

.menu-button a:hover{
    opacity: 1;
    border-top: .3vw solid #6FE5FF;
    border-bottom: 0 solid transparent;
}

/* SECTION ONE */
.section-one{
    background-image: url(homeAsset/home.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.menu{
    align-items: center;
    display: flex;
    width: 100%;
    gap: 5vw;
    margin-left: 5vw;
}

.menu-button a{
    text-decoration: none;
    color: white;
    opacity: .5;
    transition: all 200ms;
    width: auto;
}

.menu-button a:hover{
    opacity: 1;
    border-top: .3vw solid #6FE5FF;
    border-bottom: 0 solid transparent;
}

/* FOOTER */
.footer{
    background-image: black;
    background-size: 100% 100%;
    width: 100%;
}

.footer img{
    display: flex;
    position: relative;
    width: 100%;
}